* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.cards-container {
  display: flex;
  gap: 3px;
  list-style: none;
}

.tariffs-card {
  border: 2px solid red;
  text-align: center;
  width: 220px;
}

.tariff-title-1 {
  background-color: #009688;
  padding: 1rem;
  margin: 1px;
}

.tariff-title-2 {
  background-color: #4caf50; /* Customize the background color */
}

.tariff-title-3 {
  background-color: #ff5722; /* Customize the background color */
}

.tariff-title-4 {
  background-color: #3f51b5; /* Customize the background color */
}

.tariffs-card .price {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.tariffs-card .currency {
  font-size: 1.2rem;
  vertical-align: top;
}

.tariffs-card .period {
  font-size: 1rem;
  margin-left: 5px;
}

.tariffs-card .speed,
.tariffs-card .comment {
  font-size: 0.9rem;
  color: #777;
  margin-top: 10px;
}
