* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  color: #fff;
}

.container {
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.cards-container {
  display: flex;
  /* gap: 10px; */
  list-style: none;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* .cards-container > :nth-child(1) {
  margin-right: -12px;
} */

.tariffs-card {
  text-align: center;
  width: 250px;
  border: 2px solid white;
}

.tariff-title-1 {
  background-color: #009688;
  padding: 1rem;
  margin: 1px;
}

.tariff-title-2 {
  background-color: #4caf50;
  padding: 1rem;
  margin: 1px;
}

.tariff-title-3 {
  background-color: #ff5722;
  padding: 1rem;
  margin: 1px;
}

.tariff-title-4 {
  background-color: black;
  padding: 1rem;
  margin: 1px;
}

.tariffs-card .price {
  font-size: 3rem;
  margin-bottom: 5px;
  color: #fff;
  padding: 1.2rem;
  margin: 1px;
}

.tariffs-card .currency {
  font-size: 1.2rem;
  vertical-align: top;
}

.tariffs-card .period {
  font-size: 1rem;
  margin-left: 5px;
}

.tariffs-card .speed,
.tariffs-card .comment {
  font-size: 0.9rem;
  margin: 1px;
  padding: 1rem;
}

.price-1 {
  background-color: #33e9ff;
}

.price-2 {
  background-color: #23cc84;
}

.price-3 {
  background-color: #e15e75;
}

.price-4 {
  background-color: #29191c;
}

.speed {
  background-color: #cdcdcd;
}

.comment {
  background-color: gray;
}

.tariffs-card:nth-child(3) {
  transform: scale(1.1);
  z-index: 1;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
